@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700|Source+Sans+Pro:400,600,700&display=swap");

body {
    background: #ddeefc;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    &:focus {
      outline: none;
    }
}

.card__form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card__container{
  max-width: 430px;
  height: 270px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  //z-index: 2;
  width: 100%;
  background-image: url('./images/6.jpeg');
  //background:no-repeat;
  border-radius: 25px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.card{
  &__number{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
    & img{

      width: 15%;
    }
    & label{
      width: 80%;
      height: 45px;
      font-weight: 500;
      line-height: 1;
      font-size: 35px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      & :nth-child(5n){
        content: " ";
        width: 5px;
      }
    }
  }
  &__row{
    width: 90%;
    display: flex;
    justify-content: space-between;
  }
  &__holder{
    display: flex;
    flex-direction: column;
    width: 70%;
    & p{
      margin-block-start: 0;
      margin-block-end: 0;
      font-size: 18px;
      &:nth-child(2){
        font-size: 22px;
      }
    }
  }
  &__time__expires{
    display: flex;
    flex-direction: column;
    width: 20%;
    font-size: 18px;
    & p{
      margin-block-start: 0;
      margin-block-end: 0;
      display: flex;
      justify-content: space-between;
      & span{
        font-size: 22px;
      }
    }
  }
  &__cvv{
    display: none;
  }
}

.card__fields{
  display: flex;
  flex-direction: column;
  background:#fff;
  max-width: 570px;
  margin: auto;
  margin-top: 200px;
  width: 100%;
  padding: 100px 1.5rem 2rem 1.5rem;
  
  border-radius: 10px;
  
}


.field__title{
  display: flex;
  flex-direction: column;
  margin-bottom: 0;

  & label{
    padding-left: 0.5rem;
  }
}

.field__number, .field__holder, .field__cvv{
  border: 1px solid #ced6e0;
  border-radius: 5px;
  padding: 5px 15px;
  transition: all 0.3s ease-in-out;
  height: 50px;
  margin: 0 0 1rem 0;
}
.row{
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: space-between;
  height: 55px;
}

.row__title{
  margin-bottom: 0;
  padding-left: 0.5rem;
  padding-top: 2px;
}

.row__selector{
  display: flex;
  flex-direction: row;
}

.dropdown{
  width: 60%;
  margin-bottom: 1rem;
  
}
.selector{
  border: 1px solid #ced6e0;
  border-radius: 5px;
  
  height: 50px;
  width: 45%;
  margin-right: 1rem; 
  text-align: center;
}

.field__cvv{
  width: 100%;

}

.card__button{
  height: 55px;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  background: #2364d2;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
}

.active{
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.65);
  transition: 0.2s linear;

}

.rotate{
  transform: scale(-1, 1);
  transition: 0.5s linear;
}

.hiden{
  display: none
}
